PORT=4000

MONGODB_URI = "mongodb+srv://<username>:<password>@cluster0.xxxxxxx.mongodb.net/database"

JWT_SECRET = "your_jwt_secret_here"

RAZORPAY_KEY_ID = "rzp_test_your_key_here"

RAZORPAY_KEY_SECRET = "your_razorpay_secret_here"

CURRENCY = "INR"

CLIPDROP_AP = "your_clipdrop_api_key"